body {
    font-family: 'Hedvig Letters Serif', serif;
    background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/105/173/original/sunrise.jpg?1701123938");
    background-size: cover;
    background-repeat: no-repeat;
   
   
}
input[type=text] {
    display: inline;
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.25), 0 0 0 1px rgba(0,0,0,.20);
    height: 44px;
    outline: 0;
    padding: 10px;
    width: 300px;
    margin-top: 15px;
    background: transparent;
}

a {
    color: #702283;
    text-decoration: none;
    background-color: initial;
    font-weight: 400;
}


.weather-container{
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
    border-radius: 4px;
    margin: 20px 0;
    max-width: 630px;
    padding: 20px 16px 24px;
}


.btn {
    border-radius: 5px;
    color: #fff;
    height: 40px;
    margin-left: 10px;
    margin-bottom: 8px;
}

.weather-summary{
    padding: 20px 0;
}

.weather-summary-header{
    padding-bottom: 20px;
}

.weather-detail__text {
   
    color: #31063C;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.weather-icon{
    margin-top: 10px;
    float: left;
}

.weather-temp-today {
    color: #31063C;
    float: left;
    font-size: 70px;
    font-weight: 400;
    line-height: 1;
    padding-left: 10px;
}

.weather-unit__text--today{
    font-weight: 700;
    font-size: 20px;
    color: black;
    float: right;
}

.forecast-day {
    color: #31063C;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Hedvig Letters Serif', serif;
    height: 15px;
    line-height: 15px;
    text-align: center;
    white-space: nowrap;
    font-weight: 400;
}

.forecast-icon {
    margin: 10px 0 0;
    text-align: center;
}

.forecast-temperature {
    color: #31063C;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
}

.btn-primary{
    margin-left: 55px;
    margin-top: 17px;
    color: black;
    font-weight: 500;
    background-color: #702283;
    border-color: #702283;
    box-shadow: 11px 11px 42px -10px rgba(0,0,0,0.45);
    display: inline;
}

.btn-success{
    margin-top: 17px;
    color: black;
    font-weight: 500;
    background-color: #702283;
    border-color: #702283;
    box-shadow: 11px 11px 42px -10px rgba(0,0,0,0.45);
}

.col-sm-2{
    margin-left: 12px;
}

@media (min-width: 768px){
.container{
    max-width: 7px;
}
}
@media (min-width: 576px){
.container {
    max-width: 570px;
}
}



